/* Globale styles her */
:root{
    --sort: #181818;
    --hvid: #FFF;
    --mørkGrå: rgba(27, 27, 27, 0.91);
    --grøn: #4EAF4E;
    --gul: #FBC336;
    --gray: #F5F5F5;
    --gul-hover:#FFE5A2;
    --brødtekst: #595566;

    --cabin: 'Cabin', sans-serif;
    --lato: 'Lato ', sans-serif;

    --checkmark-icon: url(../icons/checkmark.svg);

}
/* body {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) [content-start] minmax(0, 1200px) [content-end] minmax(20px, 1fr);
  
    > * {
      grid-column: 1 / -1;
  
      display: grid;
      grid-template-columns: subgrid;
  
      > * {
        grid-column: content;
      }
    }
  
  } */

  /* li{
    list-style: none;
  } */

  a{
    text-decoration: none;
  }

  h2 {
    font-family: var(--cabin);
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 11px;
  }

  p{
    font-family: var(--lato);
    font-size: 16px;
    color: var(--brødtekst);
  }

[data-surface="gul"] {
    --bg-btn: var(--gul);
    --text-btn: var(--sort);
  }

  [data-surface="gul"]:hover {
    --bg-btn: var(--gul-hover);
    --text-btn: var(--sort);
  }

  [data-surface="hvid"] {
    --bg-btn: var(--hvid);
    --text-btn: var(--sort);
  }
  
  [data-surface="sort"] {
    --bg-btn: var(--sort);
    --text-btn: var(--hvid);
    
  }
  [data-surface="sort"]:hover {
    --bg-btn: var(--hvid);
    --text-btn: var(--sort);
    border: solid 2px var(--sort);
    
  }
  button {
    background: var(--bg-btn, var(--hvid));
    color: var(--text-btn, var(--sort));
    border-radius: 42px;
    padding: 16px 31px;
    font-family: var(--lato);
  }



  [data-surface="primary"] {
    --bg-section: var(--gray);
    --text-section: var(--sort);
    --bg-card: var(--hvid);

  }
  
  [data-surface="secondary"] {
    --bg-card: var(--gray);
    --bg-section: var(--sort);
    --text-card: var(--sort);
    --text-section: var(--hvid);
    
  }
  
  section {
    background: var(--bg-section, var(--none));
    color: var(--text-section, var(--black));
  }
  
  .card {
    background: var(--bg-card, var(--gray));
    color: var(--text-card, var(--black));
  }