---
import Services from "./Services.astro";
---

<section class="hero">
  <!-- Markup her -->

  <div class="stor">
    <img src="/Pattern2.svg" alt="" />
    <div class="lille">
      <h1>Empowering Your Business Growth</h1>
      <p>
        Discover tailored strategies and expert insights to take your business
        to the next level. Let us help you navigate challenges and achieve
        sustainable success.
      </p>
      <button data-surface="hvid">Book a Meeting</button>
    </div>
  </div>
  <img src="/Photo.jpg" alt="Billede" />
  <section class="cards">
    <Services />
  </section>
</section>

<style>
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #181818;
    position: relative;
    inline-size: fit-content;
    padding-bottom: 70px;

    &::after {
      content: "";
      position: absolute;

      z-index: -1;
    }
    .cards {
      background-color: none;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      background-color: none;
      position: absolute;
      inset: 0 0 -40rem 0;
    }
  }

  .stor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      inset: 0 0 40rem 0;
      background-color: #fff;
      z-index: -1;
    }
    Services {
      aspect-ratio: 1;
      max-width: 60px;
      object-fit: cover;
      border-radius: 1e5px;
    }
  }
  .lille {
    display: flex;
    flex-direction: column;
    max-width: 508px;
    color: #fff;
    justify-content: flex-start;
    align-items: center;
    padding-right: 70px;
    gap: 20px;
  }

  h1 {
    font-family: var(--cabin);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 116%;
  }

  a {
    color: #353535;

    display: flex;
    padding: 16px 31px;
    align-items: center;
    gap: 10px;
    border-radius: 55px;
    background: #151515;
    width: auto;
    height: auto;
    text-decoration: none;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;

    background: #fff;
  }

  p {
    color: var(--hvid);
  }
  /* Styles her */
</style>
